<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
    <button type="button" class="btn btn-secondary">Juanita</button>
    <button type="button" class="btn btn-secondary">Mariam</button>
    <button type="button" class="btn btn-secondary">Antoine</button>
    <div class="dropdown">


  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Helloo</a>
    <a class="dropdown-item" href="#">Sing in</a>
    <a class="dropdown-item" href="#">Sing up</a>
  </div>
</div>
</nav>
