<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
   <%= image_tag("THP_logo222.png", width: "200px") %>
    <div class="dropdown">


  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Hacking Project
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Welcome</a>
    <a class="dropdown-item" href="#">To the Dark</a>
    <a class="dropdown-item" href="#">Sideeeeeee !</a>
  </div>
</div>
</nav>

<nav class="nav nav-pills nav-justified bg-black-50 ">
  <a class="nav-item nav-link active text-black-50 p-3 mb-2 bg-light text-dark"  data-toggle="tab" role="tab" href="#THP">Projet</a>
  <a class="nav-item nav-link text-black-50 p-3 mb-2 bg-light text-dark" data-toggle="tab" role="tab" href="#team">Équipe</a>
  <a class="nav-item nav-link text-black-50 p-3 mb-2 bg-light text-dark" data-toggle="tab" role="tab" href="#Lol">Traitree</a>
  <a class="nav-item nav-link disabled text-black-50 p-3 mb-2 bg-light text-dark" href="#3">Disabled</a>
</nav>

<div class="tab-content">
  <div role="tabpanel"  class="tab-pane active" id="THP">

  </div>
  <div role="tabpanel"  class="tab-pane " id="team">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-block">
              <img class="rounded-circle img-raised" src="https://scontent.fbru2-1.fna.fbcdn.net/v/t31.0-8/52832_4740151423294_2040824855_o.jpg?_nc_cat=103&amp;_nc_ht=scontent.fbru2-1.fna&amp;oh=924c37f862d95fb6ab6a4e85bb6f7cce&amp;oe=5C74E909" width = "200px">
              <div class="card-title">
                  <h1> title 1</h1>
                  <div class="card-text">this is one sample test  his is one sample test his is one sample test his is one sample test
                  <!-- Facebook -->
                  <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
                  <!-- Twitter -->
                  <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
                  <!-- Google + -->
                  <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-block">
              <img class="rounded-circle img-raised" src="https://scontent.fbru2-1.fna.fbcdn.net/v/t1.0-9/12418087_10153839925451119_3103637665802170386_n.jpg?_nc_cat=101&amp;_nc_ht=scontent.fbru2-1.fna&amp;oh=19eea8cfc1e4497a1c16dd16255cf3bd&amp;oe=5C8A6705" width = "200px">
              <div class="card-title">
                  <h1> title 1</h1>
                  <div class="card-text">this is one sample test  his is one sample test his is one sample test his is one sample test
                  <!-- Facebook -->
                  <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
                  <!-- Twitter -->
                  <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
                  <!-- Google + -->
                  <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-block">
              <img class="rounded-circle img-raised" src="https://scontent.fbru2-1.fna.fbcdn.net/v/t1.0-1/11738056_851867454904752_2542634346515223996_n.jpg?_nc_cat=106&amp;_nc_ht=scontent.fbru2-1.fna&amp;oh=a04c6a00bc2f0f6df5425281d56b0dd6&amp;oe=5C7C5431" width = "200px">
              <div class="card-title">
                  <h1> title 1</h1>
                  <div class="card-text">this is one sample test  his is one sample test his is one sample test his is one sample test
                  <!-- Facebook -->
                  <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
                  <!-- Twitter -->
                  <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
                  <!-- Google + -->
                  <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel"  class="tab-pane " id="Lol">
    judas
 </div>
</div>
